.card{
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: space-between;
    margin: 60px auto;
    width: 620px;

}
.card .titulo{
    font-size: 24px;
    padding: 10px 10px 0 10px;
        
}

.card .cuerpo{
    padding: 10px;
    
}
img {
   display: flex;
   justify-content: center;
   width: 100%;

}

.card .pie {
    background-color: #6699ff;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.card .pie a{
    color: white;
    text-decoration: none;
}



.card.pie a:after{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
